*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
    width: 1600px;
}
.header{
    display: flex;
    background: rgb(25, 22, 27);
    justify-content: space-between;
    
    
    &__text{
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0px;
color: rgb(255, 181, 119);


    }
    &__text1{
        font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0px;
color: rgb(255, 181, 119);
margin-left: 448px;
    }
 
    &__logo{
        margin-left: 5px;
    }
}

.item{
    display: flex;
    list-style: none;
    gap: 39px;
    margin-left:42px ;
    &__list{
        &__link{
            text-decoration: none;
            color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
text-transform: capitalize;
        }
    }
}
.section-1{
    display: flex;
}



